@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --orange: #f3880a;
    --black: #111;
    --white: #fff;
    --light-color:rgb(70, 69, 69);
    --light-bg:#eee;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,0.1);
    --border:.1rem solid rgba(0,0,0,.3);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}
@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val,1fr));
    gap: 2rem;
}

@mixin titleText($titleSize){
    font-size: $titleSize;
    color: var(--black);
    text-transform: capitalize;
}

@mixin graphText($graphSize){
    font-size: $graphSize;
    color: var(--light-color);
    text-transform: capitalize;
    line-height: 1.5;
}

@mixin  iconsBox() {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    background: rgba(102, 102, 102, 0.103);
    color: var(--black);
    cursor: pointer;
    text-align: center;

    &:hover{
        background: var(--orange);
        color: var(--white);

    }
}

section{
    padding: 5rem 10%;
}

.heading{
    margin-bottom: 3rem;
    @include titleText(3rem);
    padding-left: 1rem;
    border-left: 1rem solid var(--orange);
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--orange);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;

    &:hover{
        background: rgb(15, 8, 1);
        color: #f3880a;
    }
}
html{
   font-size: 62.5%;
   overflow-x:hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 7rem;
   
   &::-webkit-scrollbar{
    width: 1rem;
   }
   &::-webkit-scrollbar-button{
      background-color: transparent;
   }
   &::-webkit-scrollbar-thumb{
      background: var(--orange);
   }
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1100;
    background: var(--white);
    .navbar a{
        @include titleText(2rem);
        margin: 0 1rem;

        &:hover{
            color: var(--orange);
        }
 
    }
    .icons div{
        @include iconsBox();
        margin-left: .3rem;
    
    }

    #menu-btn{
        display: none;
    }
}


.contact-info{
     position:fixed;
     top: 0;
     right: 0;
     width: 35rem;
     background: var(--white);
     height: 100%;
     text-align: center;
     z-index: 1100;
     padding:0 2rem;
     padding-top: 5rem;
     display: none;
     
     &.active{
        box-shadow:0 0 0 100vw rgba(0,0,0,.7);
        display: block;
     }
   
     #close-contact-info{
        position: absolute;
        top:1rem;right: 1.5rem;
        cursor: pointer;
        font-size: 4rem;
        color:var(--black);

        &:hover{
            transform: rotate(90deg);
        }
     }

     .info{
        i{
            @include iconsBox();
            margin-bottom: 1.5rem;
            
        }
        h3{
            @include titleText(2rem);
            padding: 1rem 0;
        }

        p{
           @include graphText(1.3rem);
        }
     }
     .share{
        padding-top:1rem;
        border-top: var(--border);
        margin-top: 1rem;

        a{
            @include iconsBox();
            border-radius: 50%;
        }
     }
}

.home{
    padding: 0;
    .slide{
        min-height: 60rem;
        display: flex;
        align-items: center;
        position: relative;
        background-size: cover !important;
        background-position: center !important;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg, var(--white),transparent);
        }
        .content{
            width: 50rem;
            position:relative;

            h3{
                 @include titleText(5rem);
                 text-transform: uppercase;
            }
            p{
                font-size: 1.6rem;
                color: rgb(51, 51, 51);
                text-transform: capitalize;
                line-height: 1.5;
                padding: 1rem 0;
            }
        }
         
    }
    .swiper-button-next, .swiper-button-prev{
         width: 6rem;
         height: 6rem;
         
         background: #f3880a;
         color: var(--white);
         border-radius: 50%;
    }
    .swiper-pagination{
        color: #f3880a;
    }
}
//About section:
.about{
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
    }
    .abtimg{
        flex: 1 1 41rem;

        img{
            width: 100%;
            
        }
    }
    .content{
        flex: 1 1 41rem;

        h3{
            @include titleText(1.5rem);
        }
        p{
            @include graphText(1.5rem);
            text-align: justify;
        }
        
    }
    p .lineh{
        word-spacing: 30%;
        text-align: justify;
    }
}

//Service Section
.services{
    background: var(--light-bg);
    .box-container{
        @include grid(25rem);

        .box{
            text-align: center;
            padding: 3rem;
            background: var(--white);
            box-shadow:0 .5rem 2rem rgba(0,0,0,0.1);
            border:var(--border);
            border-radius: 9%;
            &:hover img{
                transform: translateY(-1rem);
                color: rgba(17, 17, 17, 0.055);
            }
            &:hover h3{
                color: var(--orange);
            }
            img{
                background-size: cover;
                width: 100%;
                height: 60%;
                border-radius: 3%;
            }
            h3{
                @include titleText(2rem);
                padding: 1rem 0;
                text-transform: uppercase;
            }
            p{
                @include graphText(1rem);
                
            }
        }
    }

}
//Reviews

.reviews{
    .slide{
        p{
           padding: 1.5rem;
           background: var(--light-bg);
           position: relative;
           margin-bottom: 3rem;
           @include graphText(1.5rem);

           &::before{
              content: '';
              position: absolute;
              bottom: -1rem;left: 2rem;
              height: 2rem;
              width: 2rem;
              background: var(--light-bg);
              transform: rotate(45deg);
           }
        }
        .user{
            display: flex;
            align-items: center;
            gap:1.5rem;

            img{
                height: 7rem;
                width: 7rem;
            }
            h3{
                @include titleText(2rem);
            }
            .info{
                padding: 1rem;
            }

            .stars{
                padding-top: .4rem;
                i{
                    font-size: 1.5rem;
                    color: var(--orange);
                }
            }
        }
    }
}
//contact
.contact{
     background:var(--black);

     .heading{
        color: white;

     }
     .row{
        display: flex;
        flex-wrap:wrap ;
        gap: 3rem;
        .map{
            flex:1 1 41rem;
            width: 100%;
        }
        form{
            flex: 1 1 41rem;
            background: white;
            padding: 2rem;
            
            h3{
                @include titleText(2.5rem);
                color: #f3880a;
            }
            .box{
                margin: .7rem 0;
                width: 100%;
                padding: 1rem 0;
                border-bottom: var(--border); 
                font-size: 1.6rem;
                color: var(--light-color);

                &:focus{
                  border-color: var(--orange); 
                }
            }
            textarea{
                height: 15rem;
                resize: none;
            }
        }

     }
}

footer{
    position: relative;
    width: 100%;
    background: var(--orange);
    min-height: 100px;
    padding: 20px 50px;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .social_icon, .menu{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
    }
    .social_icon li,.menu li{
        list-style: none;
    }
    .social_icon li a,.menu li a{
        font-size: 2rem;
        color: white;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        &:hover{
            transform: translateY(-10px);
        }
    }
    .menu li a{
        font-size: 1.5rem;
        color: white;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        opacity: 0.7;
        &:hover{
            transform: translateY(-10px);
            opacity: 1;
        }
    }
    p{
        color: white;
        text-align: center;
        margin-top: 15px;
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
   
}


























// media queries 
@media (max-width:1200px){
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 3rem 5%;
    }
}
@media (max-width:990px){
    html{
        font-size: 55%;
    }
    section{
        padding: 3rem 2rem;
    }

    .header{
        #menu-btn{
            display: inline-block;
        }

     
        .navbar{
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background:var(--white);
            border-top: var(--border);
            border-bottom: var(--border);
            clip-path: polygon(0 0,100% 0,100% 0,0 0);
            &.active{
                clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
            }
            
            a{
               display: block;
               margin: 2rem;
            }
        }
        .btn{
            width: 100%;
        }
    }
    .contact-info{
        #close-contact-info{
            top:1rem;right: 3rem;
        }
    }
    .home{
        .swiper-button-next, .swiper-button-prev{
            background:none;
            display: none;
           
        }
        .swiper-pagination{
            color: #f3880a;
        } 
    }
}

@media (max-width:450px) {
    html{
        font-size:50%;
    }
    .contact-info{
        #close-contact-info{
            top:1rem;right: 3rem;
        }
    }
    
}

